{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<section class="hero">
    <div class="hero2">
        <div class="hero-text">
            <h1>About Us</h1>
            
        </div>
    </div>

</section>

<div class="main-content">


    <section class="page-section">
        <div class="body-text">
            <h2>Who We Are</h2>
            <p>One B Book Club is a monthly literary events programme that champions togetherness, conversation and a love of literature.</p> 
            <p>Our events are free, no sign-up or contribution required and open to anyone who values in-person conversation, literature and togetherness. </p>
            <p>Come as you are, read the book if you have time, without the pressure of required contribution. Events run monthly and take place in One B Coffee House on Cotham Hill.</p>
            <p>One B Book Club was started by Grace Domoney in September 2025. After graduating from University, she found making genuine, in-person connections with like-minded people challenging and deeply missed discussing literature with large groups in a shared space.</p>
            <p>The book club provides an opportunity for us to get together each month to discuss and share ideas about literary topics, or chat about anything that's on our minds.</p>
            <p>We are introducing the website as a shared platform for these ideas to be published, in the form of book reviews and extended writing pieces.</p>
            <p>Check out the Books page to browse and review books we have previously discussed, the Events page to keep up with upcoming events and the Writings page to read the group's extended submissions.</p>
            <h2>Frequently Asked Questions</h2>

            <p>Q. How does a One B Book Club event work?</p> 

    A. Our events are discussions based around a monthly text and are hosted by Grace Domoney. Most of our events take place in One B Coffee House in Cotham (hence the name). Doors open half an hour before the discussion begins for drinks, socializing and to get seated. Events run for about an hour. 


    <p>Q. Can I come alone?</p>

    A. Yes! Most of our members come by themselves and everyone who attends is really welcoming. Our events receive a very diverse range of people so whoever you are, come along! It’s a great place to meet like-minded, lovely people. 


    <p>Q. Do I have to speak?</p>

    Not at all - although we love hearing everyone's thoughts on the monthly texts and encourage conversation, One B Book Club is a no contribution required event. Lots of people come along just to listen. No one is put on the spot or asked questions directly unless they would like to speak. If you haven’t been able to finish the book, haven't quite articulated your thoughts or feel a little nervous to join in, please come along anyway.


    <p>Q. How do you select the monthly texts?</p>

    We have a Whatsapp group chat and a suggestion box based in One B Coffee House Cotham for people to suggest books they would like to read. Each month, we make sure to change the genre, period, authorial voice, original language of publication etc of a text in order to appeal to people's varying tastes in literature and to discuss a diverse range of voices. We aim to keep texts under 200 pages so people can hopefully read them in time. 
        </div>
        <div class="steps">
            <a href="/books">
            <div class="step-card">
                <h2>📚 Books</h2>
                <p>Browse and Review previous books.</p>
            </div>
            </a>
            <a href="/events">
            <div class="step-card">
                <h2>☕ Events</h2>
                <p>Keep up to date with upcoming events.</p>
            </div>
            </a>
            <a href="/writings">
            <div class="step-card">
                <h2>💬 Writings</h2>
                <p>Read our extended works.</p>
            
            </div>
            </a>
            <a href="/login">
            <div class="step-card">
                <h3>💬 Login</h3>
                <p>Login to Share Opinions.</p>
            </div>
            </a>
        </div>
    </section>
</div>

{% endblock %}