{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block content %}

<section class="hero">
    <div class="hero3">
        <div class="hero-text">
            <h1>Books</h1>
            
        </div>
    </div>

</section>

<div class="main-content">


    <section class="page-section">

        <h2>Previous Books</h2>

        <div class="book-grid">
            
            <div class="book-card">
                <div class="book-inner">                    
                    <div class="book-front-Can">
                        <a href="/books/CanneryRow"> <img src="static/images/Can.jpg" alt="CanneryRow"> </a>
                    </div>
                    <div class="book-back-Can">
                        <a href="/books/CanneryRow"> <img src="static/images/CanBack.jpg" alt="CanneryRow"> </a>
                    </div>                    
                </div>
            </div>
            
            <div class="book-card">
                <div class="book-inner">                    
                    <div class="book-front-Can">
                        <a href="/books/TheHourOfTheStar"> <img src="static/images/Star.jpg" alt="TheHourOfTheStar"> </a>
                    </div>
                    <div class="book-back-Can">
                        <a href="/books/TheHourOfTheStar"> <img src="static/images/StarBack.jpg" alt="TheHourOfTheStar"> </a>
                    </div>                    
                </div>
            </div>

            <div class="book-card">
                <div class="book-inner">                    
                    <div class="book-front-Can">
                        <a href="/books/TheEmperorOfGladness"> <img src="static/images/Glad.jpg" alt="TheEmperorOfGladness"> </a>
                    </div>
                    <div class="book-back-Can">
                        <a href="/books/TheEmperorOfGladness"> <img src="static/images/GladBack.jpg" alt="TheEmperorOfGladness"> </a>
                    </div>                    
                </div>
            </div>
            <div class="book-card">
                <div class="book-inner">                    
                    <div class="book-front-Can">
                        <a href="/books/Vaim"> <img src="static/images/Vaim.jpg" alt="Vaim"> </a>
                    </div>
                    <div class="book-back-Can">
                        <a href="/books/Vaim"> <img src="static/images/VaimBack.jpg" alt="Vaim"> </a>
                    </div>                    
                </div>
            </div>
            <div class="book-card">
                <div class="book-inner">                    
                    <div class="book-front-Dog">
                        <a href="/books/ADogsHeart"> <img src="static/images/ADogsHeart.jpg" alt="A Dog's Heart"> </a>
                    </div>
                    <div class="book-back-Dog">
                        <a href="/books/ADogsHeart"> <img src="static/images/ADogsHeartBack.jpg" alt="A Dog's Heart"> </a>
                    </div>                    
                </div>
            </div> 
            <div class="book-card">
                <div class="book-inner">                    
                    <div class="book-front-Grief">
                        <a href="/books/GriefIsAThingWithFeathers"> <img src="static/images/Grief.jpg" alt="GriefIsAThingsWithFeathers"> </a>
                    </div>
                    <div class="book-back-Grief">
                        <a href="/books/GriefIsAThingWithFeathers"> <img src="static/images/GriefBack.jpg" alt="GriefIsAThingsWithFeathers"> </a>
                    </div>                    
                </div>
            </div>
            <div class="book-card">
                <div class="book-inner">                    
                    <div class="book-front-Sid">
                        <a href="/books/Siddhartha"> <img src="static/images/Sid.jpg" alt="Siddartha"> </a>
                    </div>
                    <div class="book-back-Sid">
                        <a href="/books/Siddartha"> <img src="static/images/SidBack.jpg" alt="Siddartha"> </a>
                    </div>                    
                </div>
            </div> 
            <div class="book-card">
                <div class="book-inner">                    
                    <div class="book-front-Plow">
                        <a href="/books/DriveYourPlowOverTheBonesOfTheDead"> <img src="static/images/Plow.jpg" alt="DriveYourPlowOverTheBonesOfTheDead"> </a>
                    </div>
                    <div class="book-back-Plow">
                        <a href="/books/DriveYourPlowOverTheBonesOfTheDead"> <img src="static/images/PlowBack.jpg" alt="DriveYourPlowOverTheBonesOfTheDead"> </a>
                    </div>                    
                </div>
            </div>
            <div class="book-card">
                <div class="book-inner">                    
                    <div class="book-front-Can">
                        <a href="/books/TheOldManAndTheSea"> <img src="static/images/Old.jpg" alt="TheOldManAndTheSea"> </a>
                    </div>
                    <div class="book-back-Can">
                        <a href="/books/TheOldManAndTheSea"> <img src="static/images/OldBack.jpg" alt="TheOldManAndTheSea"> </a>
                    </div>                    
                </div>
            </div> 
            <div class="book-card">
                <div class="book-inner">                    
                    <div class="book-front-Small">
                        <a href="/books/SmallThingsLikeThese"> <img src="static/images/Small.jpg" alt="SmallThingsLikeThese"> </a>
                    </div>
                    <div class="book-back-Small">
                        <a href="/books/SmallThingsLikeThese"> <img src="static/images/SmallBack.jpg" alt="SmallThingsLikeThese"> </a>
                    </div>                    
                </div>
            </div> 
            <div class="book-card">
                <div class="book-inner">                    
                    <div class="book-front-Frank">
                        <a href="/books/Frankenstein"> <img src="static/images/Frank.jpg" alt="Frankenstein"> </a>
                    </div>
                    <div class="book-back-Frank">
                        <a href="/books/Frankenstein"> <img src="static/images/FrankBack.jpg" alt="Frankenstein"> </a>
                    </div>                    
                </div>
            </div>        
            <div class="book-card">
                <div class="book-inner">
                    <div class="book-front-Gio">
                        <a href="/books/GiovannisRoom"> <img src="static/images/GiovannisRoom.jpg" alt="Giovanni's Room"> </a>
                    </div>
                    <div class="book-back-Gio">
                        <a href="/books/GiovannisRoom"> <img src="static/images/GiovannisRoomBack.jpg" alt="Giovanni's Room"> </a>
                    </div>
                </div>
            </div>






        </div>                    

    </section>
</div>




{% endblock %}