{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero6">
        <div class="hero-text">
            <h1>Get in Touch</h1>
            
        </div>
    </div>

</section>

<div class="main-content">


    <section class="page-section">

        <h2>Got a question?</h2>
        <div class="body-text">
        <p>Get in touch via email./p>
        <p>We'll get back to you as soon as we can.</p>
        <p>In the meantime, check our Frequently Asked Questions section on the About page.</p>
        </div>


{% endblock %}