{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<section class="hero">
    <div class="hero2">
        <div class="hero-text">
            <h1>Events</h1>
            
        </div>
    </div>

</section>

<div class="main-content">


    <section class="page-section">

        <h2>Stay tuned...</h2>
        <div class="body-text">
        <p>We'll publish our future events here.</p>
        <p>Our events are free, no sign-up or contribution required and open to anyone who values in-person conversation, literature and togetherness.</p>
        </div>
        <div class="steps">
            <a href="/Writings/CreativeWriting">
            <div class="step-card">

            </div>
            </a>
            <a href="/Writings/Poetry">
            <div class="step-card">

            </div>
            </a>
            <a href="/Writing/Essays">
            <div class="step-card">

            
            </div>
            </a>
            <a href="/Writing/Articles">
            <div class="step-card">

            </div>
            </a>
        </div>
    </section>
</div>

{% endblock %}