{% extends "base.html" %}

{% block title %}Home | One B Book Club{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero">
        <div class="hero-text">
            <h1>One B Book Club</h1>
            
        </div>
    </div>

</section>

<div class="main-content">


    <section class="page-section">
        <div class="body-text">
            <h1>Welcome to One B Book Club</h1>
            <p>A monthly literary events programme that champions community and conversation.</p> 
        </div> 
        <div class="steps">
            <a href="/books">
            <div class="step-card">
                <h2>📚 Books</h2>
                <p>Browse and Review previous books.</p>
            </div>
            </a>
            <a href="/events">
            <div class="step-card">
                <h2>☕ Events</h2>
                <p>Keep up to date with upcoming events.</p>
            </div>
            </a>
            <a href="/writings">
            <div class="step-card">
                <h2>💬 Writings</h2>
                <p>Read our extended works.</p>
            
            </div>
            </a>
            <a href="/login">
            <div class="step-card">
                <h3>💬 Login</h3>
                <p>Login to Share Opinions.</p>
            </div>
            </a>
        </div>

    </section>
</div>
{% endblock %}