{% extends "base.html" %}

{% block title %}{{ username }}{% endblock %}

{% block content %}
<div class="profile-page">

    <h1>{{ username }}</h1>

    {% if profile_picture %}
        <img
            src="{{ url_for('static', filename='uploads/profiles/' ~ profile_picture) }}"
            class="profile_picture"
            alt="Profile Picture">
    {% else %}
        <img
            id="profile-preview"
            src="{{ url_for('static', filename='images/default-profile.png') }}"
            class="profile_picture">
    {% endif %}
    <h2>Reviews</h2>
    {% if reviews %}

        {% for book, review in reviews %}
        <div class="profile-review">
            <h3>{{ book }}</h3>
            <p>{{ review }}</p>
        </div>
        {% endfor %}

    {% else %}

        <p>No reviews yet.</p>

    {% endif %}
</div>
{% endblock %}