{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<section class="hero">
    <div class="hero4">
        <div class="hero-text">
            <h1>Writings</h1>
            
        </div>
    </div>

</section>

<div class="main-content">


    <section class="page-section">

        <h2>Writings</h2>
        <div class="body-text">
            <p>We'll publish our writing submissions here.</p>
            <p></p>
        </div>
        <div class="steps">
            <a href="/writings/CreativeWriting">
            <div class="step-card">
                <h2>📚 Creative Writing</h2>
                <p>Browse books currently being discussed.</p>
            </div>
            </a>
            <a href="/writings/Poetry">
            <div class="step-card">
                <h2>☕ Poetry</h2>
                <p>Registered users can publish reviews.</p>
            </div>
            </a>
            <a href="/writing/Essays">
            <div class="step-card">
                <h2>💬 Essays</h2>
                <p>Comment on reviews and share opinions.</p>
            
            </div>
            </a>
            <a href="/writing/Articles">
            <div class="step-card">
                <h3>💬 Articles</h3>
                <p>Comment on reviews and share opinions.</p>
            </div>
            </a>
        </div>

    </section>
</div>

{% endblock %}